.about{
	padding-bottom: 40px;
	padding-top: 30px;
	@media (max-width: $screen-md-max){
		padding-top: 10px;
		padding-bottom: 30px;
	}
	@media (max-width: $screen-xs-max){
		padding-bottom: 0;
	}
	.caption{
		@media (max-width: $screen-xs-max){
			font-size: 17px;
		}
	}
	&__content{
		padding-top: 75px;
		@media (max-width: $screen-xs-max){
			padding-top: 30px;
		}
	}
	&__owl-carousel{
		.owl-dots {
			left: 50%;
			transform: translateX(-5%);
			position: relative;
			top: 20px;
			@media (max-width: $screen-md-max) {
				text-align: center;
				transform: translateX(0);
				left: 0;
				top: 0;
			}
			.owl-dot {
				width: 20px;
				display: inline-block;
				cursor: pointer;

				span {
					width: 10px;
					height: 10px;
					display: block;
					border-radius: 50px;
					border: 1px solid #000;
					background: transparent;
				}

				canvas {
					display: none;
					position: absolute;
				}

				&.active canvas {
					display: block;
				}

				&.active,
				&:hover {
					border-radius: 50%;

					span {
						background-color: #000;
					}
				}
			}
		}
	}
	
	&__img-wrap{
		width: 100%;
		max-width: 100%;
		min-height: 335px;
		@media (max-width: $screen-md-max) {
			padding-bottom: 20px;			
		}
		@media (max-width: $screen-xs-max){
			min-height: 200px;
		}
	}
	&__avatar{
		border-radius: 50%;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
		width: 129px;
		height: 129px;
		overflow: hidden;
		margin-top: 40px;
		display: inline-block;
		img{
			transform: scale(1.2);
			width: 100%;
			max-width: 100%;
		}
		@media (max-width: $screen-md-max) {
			margin-top: 0;
		}
	}
	&__desc{
		@media (max-width: $screen-md-max) {
			padding-top: 20px;
		}	@media (max-width: $screen-sm-max) {
			padding-top: 5px;
		}
		p{
			font-size: 18px;
			line-height: 30px;
			color: #000;
			padding-bottom: 20px;
			font-weight: 100;
			@media (max-width: $screen-md-max) {
				margin: 0;
				font-size: 16px;
				padding-bottom: 15px;
			}
		}
	}
	&__info{
		display: inline-block;
		vertical-align: top;
		padding-top: 60px;
		padding-left: 20px;
		@media (max-width: $screen-md-max) {
			padding-top: 35px;
		}
		h2{
			margin: 0;
			font-size: 21px;
			font-family: 'ProximaNova';
			font-weight: 400;
		}
		p{
			margin: 0;
			font-size: 16px;
			font-family: 'ProximaNova';
			font-weight: 100;
		}
	}
}