.advantages{
	padding-bottom: 80px;
	@media (max-width: $screen-lg-min) {
		padding-bottom: 50px;
	}
	@media (max-width: $screen-xs-max) {
		padding-bottom: 30px;
	}
	&__block{
		text-align: center;		
		padding-top: 50px;
		min-height: 270px;
		@media (max-width: $screen-xs-max) {
			padding-top: 20px;
		}
		h2{
			margin: 0;
			font-size: 20px;
			font-family: 'ProximaNova';
			font-weight: 600;
			padding-top: 15px;
			padding-bottom: 15px;
		}
		p{
			font-size: 16px;
			font-weight: 100;
			max-width: 240px;
			margin: 0 auto;
		}
	}
	&__items{
		border-width: 2px;
		border-color: $main-color;
		border-style: solid;
		border-radius: 50%;
		box-shadow: 0px 8px 16px 0px rgba(177, 233, 55, 0.88);	
		width: 75px;
		height: 75px;
		margin: 0 auto;		
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	&__interior{
		border-width: 1px;
		border-color: $main-color;
		border-style: solid;
		border-radius: 50%;
		width: 62px;
		height: 62px;
		i{
			color: $main-color;
			font-size: 27px;
			line-height: 61px;
		}
		.flabio-people{
			margin-right: 10px;
		}
		.flabio-fast{
			margin-right: 15px;
			font-family: 'ProximaNova';
			font-weight: 700;
		}
	}
}


