.slider {
  padding-top: 50px;
  @media (max-width: $screen-xs-max){
   padding-bottom: 20px;
 }
 @media (max-width: $screen-sm-max){
  padding-bottom: 30px;
}
.owl-carousel{
  .owl-item{
    width: 52px;
  } 
}
#sync2 {
  text-align: center;
  padding-top: 30px;
  @media (max-width: $screen-xs-max){
    padding-top: 0;
  }
  .item {
    border-radius: 10em;      
    .number-thumb{
      background: #d1d1d1;
      color: #FFF;
      -webkit-border-radius: 10em;
      -moz-border-radius: 10em;
      border-radius: 10em;
      cursor: pointer;
      text-align: center;
      width: 52px;
      height: 52px;
      line-height: 52px;
      font-size: 25px;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      transition: all .5s;
      &:hover{
        background-color: $main-color;
      }
      @media (max-width: $screen-xs-max) {
        width: 30px;
        height: 30px;  
        line-height: 30px;
        font-size: 16px;          
      }
      &:after{
        position: absolute;
        content: '';
        height: 1px;
        width: 80px;         
        background-color: #d1d1d1;        
        left: 150%;
        top: 50%;
        @media screen and (min-width: 992px) and (max-width: 1199px)  {
          left: 120%;
        }   
        @media (max-width: $screen-sm-max) {
          width: 30px;
          left: 120%;
        }
        @media screen and (max-width: 767px)  {
          left: 180%;
        }
        @media screen and (min-width: 768px) and (max-width: 991px)  {
          left: 140%;
        } 
        @media screen and (max-width: 620px)  {
          width: 0;
        }
      }
    }
    .last-child{
      &:after{
        background-color: transparent;
      }
    }
  }
  .current .item .number-thumb{
    background: $main-color;
  }
}

//arrows on first carousel
#sync1 {
  .item {
    background: #fff;
    color: #000;
    border-radius: 3px;
    text-align: left;
    p{
      font-size: 18px;
      line-height: 30px;
      font-weight: 100;
    }
  }
  .owl-nav{
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translateX(-50%);
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      top: 55%;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      top: 80%;
      left: 85%;
    }
    @media screen and (min-width: 680px) and (max-width: 767px) {
      top: 80%;
      left: 75%;
    }
    @media (max-width: $screen-xs-max) { 
      top: 110%;
      left: 50%;
    }
  }
  .owl-next, .owl-prev { 
    width: 40px;
    height: 40px;
    line-height: 37px;
    background: transparent;
    border: 1px solid $main-color;
    border-radius: 10em;
    color: #fff;
    font-size: 25px;
    text-align: center;
    color: #d1d1d1;
    transition: all .5s;
    @media (max-width: $screen-xs-max) {
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 16px;
    }
    &:hover{
      background-color: #eee;
      color: $main-color;
    }
  }
  .owl-prev {
    display: inline-block;

  }
  .owl-next {
    display: inline-block;
    margin-left: 15px;
  }
}
}
